@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-image: url(../imagens/mine-fundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    box-shadow: inset -150px 150px 200px black;
    overflow-x: hidden;
}

/*---------------------------------------------------*/

header {
    width: 90px;
    margin: auto;
}

header > div > p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

header > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

/*--------------------------------------------------*/


nav {
    margin: 3vh auto;
    width: 37vw;
}


nav > div {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5vw;
}

nav > div > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
}

nav > div > a:hover {
    background-color: rgba(0, 0, 0, 0.404);
    transition-duration: 0.3s;
}

#dif_1 {
    background-color: white;
    color: green;
    padding: 8px 30px;
}

#dif_1:hover {
    background-color: rgb(180, 179, 179);
}

/*--------------------------------------------------*/

main {
    color: white;
    margin-top: 4vh;
}

main > div {
    max-width: 240px;
    background-color: rgba(0, 0, 0, 0.534);
    margin: auto;
    padding: 15px;
    border-radius: 10px;

}

main > div > img {
    display: block;
    margin: auto;
}

main > div > p {
    margin-top: 2vh;
}

input {
    background-color: rgba(39, 39, 39, 0.863);
    border: none;
    padding: 8px;
    width: 220px;
    margin-top: 2vh;
}

#dif_2 {
    font-size: 0.8em;
    margin-top: 2vh;
}

#dif_2:hover {
    cursor: pointer;
    color: rgb(204, 201, 201);
}

main > div > button {
    padding: 9px 55px;
    background-color: #269E6D;
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.473);
    border-bottom-color: white;
    margin-top: 2vh;
}

main > div > button:hover {
    cursor: pointer;
    background-color: #1a6b4b;
}

#dif_3 {
    color: lightgreen;
    font-size: 0.8em;
    width: 120px;
    margin: 3vh auto;
}

#dif_3:hover {
    cursor: pointer;
    color: rgb(99, 167, 99);
}

/*-----------------------------------------------*/

footer {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    max-width: 910px;
    margin: 3vh auto;
}

div.pai {
    display: flex;
    flex-flow: row wrap;
    gap: 3vw;
}

div.item {
    flex-direction: column;
}

div.item > img {
    display: block;
    margin: auto;
}
